 * v2.1.3 version of _isApprovedOrOwner which calls ownerOf(tokenId) and takes grace period into consideration instead of ERC721.ownerOf(tokenId);
     * https://github.com/OpenZeppelin/openzeppelin-contracts/blob/v2.1.3/contracts/token/ERC721/ERC721.sol#L187
@@ -52,79 +51,42 @@ contract BaseRegistrarImplementation is ERC721, IERC721Enumerable, IBaseRegistra
        return (spender == owner || getApproved(tokenId) == spender || isApprovedForAll(owner, spender));
    }

    constructor(SID _sid, bytes32 _baseNode) ERC721("SPACE ID","SID") {
    constructor(SID _sid, bytes32 _baseNode) ERC721("SPACE ID", "SID") {
        sid = _sid;
        baseNode = _baseNode;
    }

    modifier live {
    modifier live() {
        require(sid.owner(baseNode) == address(this));
        _;
    }

    modifier onlyController {
    modifier onlyController() {
        require(controllers[msg.sender]);
        _;
    }
